{# src/Lulhum/RepartitionMedecineBundle/Resources/views/Admin/editperiod.html.twig #}

{% extends "LulhumRepartitionMedecineBundle::adminlayout.html.twig" %}

{% block title %}
Période - {{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets '@datepicker_css' %}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
        {% endstylesheets %}
{% endblock %}

{% block bodytitle %}
	<h3>Éditer la période</h3>
{% endblock %}

{% block nobody %}
	{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
	<div class="panel-body" >
		{% include('LulhumRepartitionMedecineBundle:Admin:period_type.html.twig') %}
	</div>
	<div class="panel-footer" >
		<button class="btn btn-success" type="submit" >Éditer</button>
	</div>		
	{{ form_rest(form) }}
	{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts '@datepicker_js'%}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	<script type="text/javascript" >
	$(document).ready(function() {
		$('#lulhum_repartitionmedecine_period_start').datetimepicker({
			locale: 'fr',
			format: 'L'
		});
		$('#lulhum_repartitionmedecine_period_stop').datetimepicker({
			locale: 'fr',
			format: 'L'
		});
	});
	</script>
{% endblock %}
