{# src/Lulhum/RepartitionMedecineBundle/Resources/views/Admin/useradd.html.twig #}

{% extends "LulhumRepartitionMedecineBundle::adminlayout.html.twig" %}

{% form_theme form _self %}

{% block text_widget %}
	{{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
{% endblock %}

{% block choice_widget_collapsed %}	
	{%- if required and placeholder is none and not placeholder_in_choices and not multiple -%}
		{% set required = false %}
	{%- endif -%}
	<select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %} class="form-control" >
		{%- if placeholder is not none -%}
			<option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? placeholder|trans({}, translation_domain) }}</option>
		{%- endif -%}
		{%- if preferred_choices|length > 0 -%}
			{% set options = preferred_choices %}
			{{- block('choice_widget_options') -}}
			{%- if choices|length > 0 and separator is not none -%}
				<option disabled="disabled">{{ separator }}</option>
			{%- endif -%}
		{%- endif -%}
		{%- set options = choices -%}
		{{- block('choice_widget_options') -}}
	</select>
{% endblock %}

{% block title %}
	Modifier les paramètres - {{ parent() }}
{% endblock %}

{% block bodytitle %}
	<h3>Modifier les paramètres</h3>
{% endblock %}

{% block body %}	
	{{ form_start(form) }}
	{% for parameter in form.parameters %}
		<div class="form-group" >
			{{ form_label(parameter) }}
			{{ form_errors(parameter) }}
			{{ form_widget(parameter) }}
		</div>
	{% endfor %}
	<button type="submit" class="btn btn-primary" >Modifier</button>
	{{ form_rest(form) }}
	{{ form_end(form) }}
{% endblock %}
