{# src/Lulhum/RepartitionMedecineBundle/Resources/views/Admin/useradd.html.twig #}

{% extends "LulhumRepartitionMedecineBundle::adminlayout.html.twig" %}

{% form_theme form _self %}

{% block text_widget %}
	{{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
{% endblock %}

{% block title %}
	Modifier les paramètres - {{ parent() }}
{% endblock %}

{% block bodytitle %}
	<h3>Modifier les paramètres</h3>
{% endblock %}

{% block body %}	
	{{ form_start(form) }}
	{% for parameter in form.parameters %}
		<div class="form-group" >
			{{ form_label(parameter) }}
			{{ form_errors(parameter) }}
			{{ form_widget(parameter) }}
		</div>
	{% endfor %}
	<button type="submit" class="btn btn-primary" >Modifier</button>
	{{ form_rest(form) }}
	{{ form_end(form) }}
{% endblock %}
