<div class="form-group" >
	{{ form_label(form.name, null, {'label_attr': {'class': 'control-label col-md-2'}}) }}
	{{ form_errors(form.name) }}
	<div class="col-md-10" >
		{{ form_widget(form.name) }}
	</div>
</div>
<div class="form-group" >
	{{ form_label(form.description, null, {'label_attr': {'class': 'control-label col-md-2'}}) }}
	{{ form_errors(form.description) }}
	<div class="col-md-10" >
		{{ form_widget(form.description) }}
	</div>
</div>
<div class="form-group" >
	{{ form_label(form.start, null, {'label_attr': {'class': 'control-label col-md-2'}}) }}
	{{ form_errors(form.start) }}
	<div class="col-md-10" >
		{{ form_widget(form.start) }}
	</div>
</div>
<div class="form-group" >
	{{ form_label(form.stop, null, {'label_attr': {'class': 'control-label col-md-2'}}) }}
	{{ form_errors(form.stop) }}
	<div class="col-md-10" >
		{{ form_widget(form.stop) }}
	</div>
</div>
