{# src/Lulhum/RepartitionMedecineBundle/Resources/views/Admin/stageproposals.html.twig #}

{% extends "LulhumRepartitionMedecineBundle::adminlayout.html.twig" %}

{% block title %}
	Stages - {{ parent() }}
{% endblock %}

{% block bodytitle %}
	<h3>Gestion des stages</h3>
	<hr/>
	{{ form_start(filterForm, {'attr': {'class': 'form-inline'}}) }}
	{{ form_errors(filterForm) }}
	<div class="form-group" >
		{{ form_label(filterForm.stageProposals, null, {'label_attr': {'class': 'control-label'}}) }}
		<br/>
		{{ form_errors(filterForm.stageProposals) }}
		{{ form_widget(filterForm.stageProposals, {'attr': {'class': 'form-control', 'multiple': 'true', 'size': '2'}}) }}
	</div>
	<div class="form-group" >
		{{ form_label(filterForm.categoriesOr, null, {'label_attr': {'class': 'control-label'}}) }}
		<br/>
		{{ form_errors(filterForm.categoriesOr) }}
		{{ form_widget(filterForm.categoriesOr, {'attr': {'class': 'form-control', 'multiple': 'true', 'size': '2'}}) }}
	</div>
	<div class="form-group" >
		{{ form_label(filterForm.categoriesAnd, null, {'label_attr': {'class': 'control-label'}}) }}
		<br/>
		{{ form_errors(filterForm.categoriesAnd) }}
		{{ form_widget(filterForm.categoriesAnd, {'attr': {'class': 'form-control', 'multiple': 'true', 'size': '2'}}) }}
	</div>
	<br/>
	<div style="margin-top:10px" >
		<div class="form-group" >
			{{ form_widget(filterForm.filtrer, {'attr': {'class': 'btn btn-primary' }}) }}
		</div>
		<div class="form-group" >				
			<a class="btn btn-success" href="{{ path('lulhum_repartitionmedecine_admin_stage_stages_new') }}">Nouveau Stage</a>
		</div>
	</div>
	{{ form_rest(filterForm) }}
	{{ form_end(filterForm) }}
{% endblock %}

{% block nobody %}
	<table class="table table-hover" >
		<tr>
			<th><input type="checkbox" id="master-check" /></th>
			<th>Utilisateur</th>
			<th>Période</th>
			<th>Proposition</th>
			<th>Accepté</th>
			<th>Actions</th>
		</tr>
		{% for stage in stages %}
			<tr>
				<td></td>
				<td>{{ stage.user.fullname }}</td>
				<td>{{ stage.proposal.period }}</td>
				<td>{{ stage.proposal }}</td>
				<td>
					{% if not stage.locked %}
						<span class="label label-danger" >Non</span>
					{% else %}
						<span class="label label-success" >Oui</span>
					{% endif %}
				</td>
				<td>
					<a href="">
						<span class="glyphicon glyphicon-edit" ></span>
					</a>
					<a href="{{ path('lulhum_repartitionmedecine_admin_stage_stages_delete', {'id': stage.id}) }}" class="text-danger">
						<span class="glyphicon glyphicon-remove" ></span>
					</a>
				</td>
			</tr>
		{% endfor %}			
	</table>
{% endblock %}

{% block bodyunder %}
	<span class="text-primary" >
		<span class="glyphicon glyphicon-edit" ></span>
	</span>
	Éditer le stage -
	<span class="text-danger" >
		<span class="glyphicon glyphicon-remove" ></span>
	</span>
	Supprimer le stage
{% endblock %}

