{# src/Lulhum/RepartitionMedecineBundle/Resources/views/Admin/stageproposals.html.twig #}

{% extends "LulhumRepartitionMedecineBundle::adminlayout.html.twig" %}

{% block title %}
	Stages - {{ parent() }}
{% endblock %}

{% block bodytitle %}
	<h3>Gestion des stages</h3>
	<hr/>
	{{ form_start(filterForm, {'attr': {'class': 'form-inline'}}) }}
	{{ form_errors(filterForm) }}
	<div class="form-group" >
		{{ form_label(filterForm.stageProposals, null, {'label_attr': {'class': 'control-label'}}) }}
		<br/>
		{{ form_errors(filterForm.stageProposals) }}
		{{ form_widget(filterForm.stageProposals, {'attr': {'class': 'form-control', 'multiple': 'true', 'size': '2'}}) }}
	</div>
	<div class="form-group" >
		{{ form_label(filterForm.periods, null, {'label_attr': {'class': 'control-label'}}) }}
		<br/>
		{{ form_errors(filterForm.periods) }}
		{{ form_widget(filterForm.periods, {'attr': {'class': 'form-control', 'multiple': 'true', 'size': '2'}}) }}
	</div>
	<div class="form-group" >
		{{ form_label(filterForm.categoriesOr, null, {'label_attr': {'class': 'control-label'}}) }}
		<br/>
		{{ form_errors(filterForm.categoriesOr) }}
		{{ form_widget(filterForm.categoriesOr, {'attr': {'class': 'form-control', 'multiple': 'true', 'size': '2'}}) }}
	</div>
	<div class="form-group" >
		{{ form_label(filterForm.categoriesAnd, null, {'label_attr': {'class': 'control-label'}}) }}
		<br/>
		{{ form_errors(filterForm.categoriesAnd) }}
		{{ form_widget(filterForm.categoriesAnd, {'attr': {'class': 'form-control', 'multiple': 'true', 'size': '2'}}) }}
	</div>
	<div class="form-group" >
		{{ form_label(filterForm.promotions, null, {'label_attr': {'class': 'control-label'}}) }}
		<br/>
		{{ form_errors(filterForm.promotions) }}
		{{ form_widget(filterForm.promotions, {'attr': {'class': 'form-control', 'multiple': 'true', 'size': '2'}}) }}
	</div>
	<div class="form-group" >
		{{ form_label(filterForm.group, null, {'label_attr': {'class': 'control-label'}}) }}
		<br/>
		{{ form_errors(filterForm.group) }}
		{{ form_widget(filterForm.group, {'attr': {'class': 'form-control', 'size': '2'}}) }}
	</div>
	<br/>
	<div style="margin-top:10px" >
		<div class="form-group" >
			{{ form_widget(filterForm.filtrer, {'attr': {'class': 'btn btn-primary' }}) }}
		</div>
		<div class="form-group" >				
			<a class="btn btn-primary" href="{{ path('lulhum_repartitionmedecine_admin_stage_stages_resetfilter') }}">Filtre par défaut</a>
		</div>
		<div class="form-group" >				
			<a class="btn btn-primary" href="{{ path('lulhum_repartitionmedecine_admin_stage_stages_nofilter') }}">Aucun filtre</a>
		</div>	
		<div class="form-group" >				
			<a class="btn btn-success" href="{{ path('lulhum_repartitionmedecine_admin_stage_stages_new') }}">Nouveau Stage</a>
		</div>
	</div>
	{{ form_rest(filterForm) }}
	{{ form_end(filterForm) }}
{% endblock %}

{% block nobody %}
	{{ form_start(groupActionForm, {'attr': {'class': 'form-inline'}}) }}
	<table class="table table-hover" >
		<tr>
			<th><input type="checkbox" id="master-check" /></th>
			<th>Utilisateur</th>
			<th>Période</th>
			<th>Proposition</th>
			<th>Contraintes</th>
			<th>Accepté</th>
			<th>Actions</th>
		</tr>
		{% for child in groupActionForm.stages %}
			<tr>
				<td>{{ form_widget(child) }}</td>
				<td>{{ stages[loop.index0].user.fullname }}</td>
				<td>{{ stages[loop.index0].proposal.period }}</td>
				<td>
					<a href="{{ path('lulhum_repartitionmedecine_admin_stage_proposals_show', {'id': stages[loop.index0].proposal.id}) }}" >
						{{ stages[loop.index0].proposal }}
					</a>
				</td>
				<td>
					{% if requirements[loop.index0]|length > 0 %}
						<div class="btn-group">
							<button type="button" class="btn btn-{{ requirements[loop.index0][0].level }} dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								{{ requirements[loop.index0]|length }}
								Conflits <span class="caret"></span>
							</button>
							<ul class="dropdown-menu list-group">
								{% for requirement in requirements[loop.index0] %}
									<li class="list-group-item-{{ requirement.level }}">
										<a href="#">{{ requirement.message }}</a>
									</li>
								{% endfor %}
							</ul>
						</div>
					{% else %}
						<button class="btn btn-success" >Valide</button>
					{% endif %}
				</td>
				<td>
					{% if not stages[loop.index0].locked %}
						<span class="label label-danger" >Non</span>
					{% else %}
						<span class="label label-success" >Oui</span>
					{% endif %}
				</td>
				<td>
					<a href="{{ path('lulhum_repartitionmedecine_admin_stage_stages_delete', {'id': stages[loop.index0].id}) }}" class="text-danger">
						<span class="glyphicon glyphicon-remove" ></span>
					</a>
				</td>
			</tr>
		{% endfor %}			
	</table>
	<div class="panel-footer" >
		{% set paginatedUrl = 'lulhum_repartitionmedecine_admin_stage_stages_page' %}
		{% include "LulhumRepartitionMedecineBundle:Admin:pagination.html.twig" %}
		<div class="form-group" >
			{{ form_label(groupActionForm.action, null, {'label_attr': {'class': 'control-label'}}) }}
			{{ form_errors(groupActionForm.action) }}
			{{ form_widget(groupActionForm.action, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group" >
			{{ form_widget(groupActionForm.appliquer, {'attr': {'class': 'btn btn-primary' }}) }}
		</div>
		{{ form_rest(groupActionForm) }}
	</div>
	{{ form_end(groupActionForm) }}
{% endblock %}

{% block bodyunder %}
	<span class="text-danger" >
		<span class="glyphicon glyphicon-remove" ></span>
	</span>
	Supprimer le stage
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" >
	$(document).ready(function() {
		$('input#master-check').change(function() {
			var $checkboxes = $('form[name="lulhum_repartitionmedecine_stagegroupaction"] :checkbox');
			$checkboxes.prop('checked', $(this).prop('checked'));
		});
	});
	</script>
{% endblock %}
