{# src/Lulhum/RepartitionMedecineBundle/Resources/views/Admin/stage.html.twig #}

{% extends "LulhumRepartitionMedecineBundle::adminlayout.html.twig" %}

{% block title %}
Stage - {{ parent() }}
{% endblock %}

{% block bodytitle %}
	<h3>Stage</h3>
{% endblock %}

{% block nobody %}
	{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
	<div class="panel-body" >
		<div class="form-group" >
			{{ form_label(form.user, null, {'label_attr': {'class': 'control-label col-md-2'}}) }}
			{{ form_errors(form.user) }}
			<div class="col-md-9 input-group" >
				{{ form_widget(form.user, {'attr': {'class': 'form-control'}}) }}
				<span class="input-group-btn" >
					<button class="btn btn-default"
						type="button"
						id="lulhum-user-search" 
						data-container="body"
						data-toggle="popover"
						data-placement="left"
						data-title="Rechercher un utilisateur"
						data-html="true"
						data-container="body" >
						<span class="glyphicon glyphicon-search" ></span>
					</button>
				</span>
			</div>
		</div>
		<div class="form-group" >
			{{ form_label(form.proposal, null, {'label_attr': {'class': 'control-label col-md-2'}}) }}
			{{ form_errors(form.proposal) }}
			<div class="col-md-9 input-group" >
				{{ form_widget(form.proposal, {'attr': {'class': 'form-control'}}) }}
				<span class="input-group-btn" >
					<button class="btn btn-default"
						type="button"
						id="lulhum-stage-search" 
						data-toggle="popover"
						data-placement="left"
						data-title="Rechercher un stage"
						data-html="true"
						data-container="body" >
						<span class="glyphicon glyphicon-search" ></span>
					</button>
				</span>
			</div>
		</div>
		<div class="form-group" >
			{{ form_label(form.locked, null, {'label_attr': {'class': 'control-label col-md-2'}}) }}
			{{ form_errors(form.locked) }}
			<div class="col-md-10" >
				{% for child in form.locked %}
					<label class="radio-inline" >
						{{ form_widget(child) }}
						{{ child.vars.label }}
					</label>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="panel-footer" >
		{{ form_widget(form.valider, {'attr': {'class': 'btn btn-primary'}}) }}
	</div>		
	{{ form_rest(form) }}
	{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('bundles/lulhumrepartitionmedecine/js/search-select-popover.js') }}"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		activateSearchSelectPopover();
	});
	</script>
{% endblock %}
