{# src/Lulhum/RepartitionMedecineBundle/Resources/views/Admin/stagecategory.html.twig #}

{% extends "LulhumRepartitionMedecineBundle::adminlayout.html.twig" %}

{% block title %}
  Proposition de stage - {{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets '@datepicker_css' %}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
        {% endstylesheets %}	
{% endblock %}

{% block bodytitle %}
	<h3>Proposition de stage</h3>
{% endblock %}

{% block body %}
	{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
	<div class="form-group" >
		{{ form_label(form.name, null, {'label_attr': {'class': 'control-label col-md-2'}}) }}
		{{ form_errors(form.name) }}
		<div class="col-md-10" >
			{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>
	<div class="form-group" >
		{{ form_label(form.description, null, {'label_attr': {'class': 'control-label col-md-2'}}) }}
		{{ form_errors(form.description) }}
		<div class="col-md-10" >
			{{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>
	<div class="form-group" >
		{{ form_label(form.category, null, {'label_attr': {'class': 'control-label col-md-2'}}) }}
		{{ form_errors(form.category) }}
		<div class="col-md-10" >
			{{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>
	<div class="form-group" >
		{{ form_label(form.period, null, {'label_attr': {'class': 'control-label col-md-2'}}) }}
		{{ form_errors(form.period) }}
		<div class="col-md-10" >
			{{ form_widget(form.period, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>
	<div id="lulhum_repartitionmedecine_stageproposal_new_period" class="panel panel-default" >
		<div class="panel-heading" >
			<a href="#" id="add_period" class="btn btn-success" data-activated="false">Créer une nouvelle période</a>
		</div>
		<div class="panel-body" >
			<div class="form-group" >
				{{ form_label(form.new_period.name, null, {'label_attr': {'class': 'control-label col-md-2'}}) }}
				{{ form_errors(form.new_period.name) }}
				<div class="col-md-10" >
					{{ form_widget(form.new_period.name, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
			<div class="form-group" >
				{{ form_label(form.new_period.description, null, {'label_attr': {'class': 'control-label col-md-2'}}) }}
				{{ form_errors(form.new_period.description) }}
				<div class="col-md-10" >
					{{ form_widget(form.new_period.description, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
			<div class="form-group" >
				{{ form_label(form.new_period.start, null, {'label_attr': {'class': 'control-label col-md-2'}}) }}
				{{ form_errors(form.new_period.start) }}
				<div class="col-md-10" >
					{{ form_widget(form.new_period.start, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
			<div class="form-group" >
				{{ form_label(form.new_period.stop, null, {'label_attr': {'class': 'control-label col-md-2'}}) }}
				{{ form_errors(form.new_period.stop) }}
				<div class="col-md-10" >
					{{ form_widget(form.new_period.stop, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
		</div>
	</div>
	<div id="lulhum_repartitionmedecine_stageproposal_requirements" data-prototype="
											{% filter escape %}
											{{ include('LulhumRepartitionMedecineBundle:Admin:requirement_prototype.html.twig', {'form': form.requirements.vars.prototype}) }}
											{% endfilter %}">
		{% for child in form.requirements %}
			<div class="panel panel-default">
				<div class="panel-heading" >
					<label class="required"></label>
				</div>
				<div class="panel-body" >
					<div class="form-group" >
						{{ form_label(child.type, null, {'label_attr': {'class': 'control-label col-md-2'}}) }}
						{{ form_errors(child.type) }}
						<div class="col-md-10" >
							{{ form_widget(child.type) }}
						</div>
					</div>
					<div class="form-group" >
						{{ form_label(child.params, null, {'label_attr': {'class': 'control-label col-md-2'}}) }}
						{{ form_errors(child.params) }}
						<div class="col-md-10" >
							{{ form_widget(child.params) }}
						</div>
					</div>
					<div class="form-group" >
						{{ form_label(child.strict, null, {'label_attr': {'class': 'control-label col-md-2'}}) }}
						{{ form_errors(child.strict) }}
						<div class="col-md-10" >
							{{ form_widget(child.strict, {'attr': {'style': 'width:0'}}) }}
						</div>
					</div>
				</div>
				<div class="panel-footer" ></div>
			</div>
		{% endfor %}
		{{ form_widget(form.valider, {'attr': {'class': 'btn btn-primary'}}) }}
	</div>
	{{ form_rest(form) }}
	{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts '@datepicker_js' '@LulhumRepartitionMedecineBundle/Resources/public/js/requirement.js' %}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	<script type="text/javascript">
	$(document).ready(function() {		
		
		var $periodContainer = $('div#lulhum_repartitionmedecine_stageproposal_new_period');
		
		var $addPeriodLink = $periodContainer.children('div.panel-heading').children('a');
		var $periodPrototype = $periodContainer.children('div.panel-body').html();
		$periodContainer.children('div.panel-body').html('');

		$addPeriodLink.click(function(e) {
			if($addPeriodLink.attr('data-activated') === 'false') {
				$periodContainer.children('div.panel-body').append($periodPrototype);
				$addPeriodLink.attr('data-activated', 'true');
				$addPeriodLink.attr('class', 'btn btn-danger');
				$addPeriodLink.html('Annuler');
				$('#lulhum_repartitionmedecine_stageproposal_new_period_start').datetimepicker({
					locale: 'fr',
					format: 'L'
				});
				$('#lulhum_repartitionmedecine_stageproposal_new_period_stop').datetimepicker({
					locale: 'fr',
					format: 'L'
				});
			}
			else {
				$addPeriodLink.attr('data-activated', 'false');
				$periodContainer.children('div.panel-body').html('');
				$addPeriodLink.attr('class', 'btn btn-success');
				$addPeriodLink.html('Créer une nouvelle période');
			}
			e.preventDefault();
			return false;
		});

		manageRequirements($('#lulhum_repartitionmedecine_stageproposal_requirements'), '{{ path('lulhum_repartitionmedecine_admin_requirements_getform') }}', String({{ proposal.id }}), 0);

	});
	</script>
{% endblock %}
