{# src/Lulhum/RepartitionMedecineBundle/Resources/views/Admin/stageproposalstart.html.twig #}

{% extends "LulhumRepartitionMedecineBundle:Admin:stageproposalgroupaction.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets '@datepicker_css' %}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
        {% endstylesheets %}
{% endblock %}

{% block bodyfooter %}
	<div class="panel-footer" >
		{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
		<div class="form-group" >
			{{ form_label(form.date, null, {'label_attr': {'class': 'control-label col-md-2'}}) }}
			{{ form_errors(form.date) }}
			<div class="col-md-10" >
				{{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
		<div class="form-group" >
			{{ form_label(form.delay, null, {'label_attr': {'class': 'control-label col-md-2'}}) }}
			{{ form_errors(form.delay) }}
			<div class="col-md-1" >
				{{ form_label(form.delay.hour, 'Heure', {'label_attr': {'class': 'control-label'}}) }}
				{{ form_errors(form.delay.hour) }}
				{{ form_widget(form.delay.hour, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="col-md-1" >
				{{ form_label(form.delay.minute, null, {'label_attr': {'class': 'control-label'}}) }}
				{{ form_errors(form.delay.minute) }}
				{{ form_widget(form.delay.minute, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
		<div class="form-group" >
			{{ form_label(form.autovalid, null, {'label_attr': {'class': 'control-label col-md-4'}}) }}
			{{ form_errors(form.autovalid) }}
			<div class="col-md-1" >
				{{ form_widget(form.autovalid, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
		{{ form_widget(form.ouvrir, {'attr': {'class': 'btn btn-primary'}, 'label': 'Démarrer'}) }}
		{{ form_rest(form) }}
		{{ form_end(form) }}
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts '@datepicker_js'%}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	<script type="text/javascript" >
	$(document).ready(function() {
		$('#lulhum_deadline_deadline_date').datetimepicker({
			locale: 'fr',
			minDate: (new Date()).setHours(0, 0, 0, 0)
		});
	});
	</script>		
{% endblock %}
