{# src/Lulhum/RepartitionMedecineBundle/Resources/views/Admin/stageproposaladdconstraint.html.twig #}

{% extends "LulhumRepartitionMedecineBundle::adminlayout.html.twig" %}

{% block title %}
  Propositions de stage - Ajout de contrainte - {{ parent() }}
{% endblock %}

{% block bodytitle %}
	<h3>Propositions de stage - Ajout de contrainte</h3>
{% endblock %}

{% block nobody %}
	<ul class="list-group" >
		<li class="list-group-item" >
			<h4 class="list-group-item-heading" >
				Propositions de stage affectées: {{ groupAction.proposals|length }}
			</h4>
		</li>
		{% for proposal in groupAction.proposals %}
			<li class="list-group-item" >
				{{ proposal.name }}
			</li>
		{% endfor %}
	</ul>
{% endblock %}

{% block bodyfooter %}
	<div class="panel-footer" >
		{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
		<div id="lulhum_repartitionmedecine_requirements" data-prototype="
										  {% filter escape %}
										  {{ include('LulhumRepartitionMedecineBundle:Admin:requirement_prototype.html.twig', {'form': form.requirements.vars.prototype}) }}
										  {% endfilter %}">
		</div>
		{{ form_widget(form.valider, {'attr': {'class': 'btn btn-primary'}}) }}
		{{ form_rest(form) }}
		{{ form_end(form) }}
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('bundles/lulhumrepartitionmedecine/js/requirement.js') }}"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		manageRequirements($('div#lulhum_repartitionmedecine_requirements'), '{{ path('lulhum_repartitionmedecine_admin_requirements_getform') }}', '', 1);
	});
	</script>
{% endblock %}
