{# src/Lulhum/RepartitionMedecineBundle/Resources/views/Repartition/groupes.html.twig #}

{% extends "LulhumRepartitionMedecineBundle::layout.html.twig" %}

{% block title %}
  Choix des groupes - {{ parent() }}
{% endblock %}

{% block bodytitle %}
	<h3>Répartition des groupes - {{ app.user.textPromotion }}</h3>
	{% if deadline.active %}
		<div class="col-md-3">
			{{ form(form) }}
		</div>
		<div class="label label-primary">
			Répartition ouverte jusqu'au {{ deadline.date|date('d/m - H:i') }}
			<span class="glyphicon glyphicon-time" ></span>
		</div>
	{% else %}
		<div>Groupe {{ app.user.repartitionGroup }}</div>
	{% endif %}
{% endblock %}

{% block body %}
	<div>
		{% for key, messages in app.session.flashbag.all() %}
			{% for message in messages %}
				<div class="alert alert-{{ key }}">
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}
	</div>

	{% set expanded = false %}
	{% set admin = false %}
	{% include "LulhumRepartitionMedecineBundle:Repartition:groupes_content.html.twig" %}

{% endblock %}
