{# src/Lulhum/RepartitionMedecineBundle/Resources/views/Repartition/groupes.html.twig #}

{% extends "LulhumRepartitionMedecineBundle::layout.html.twig" %}

{% block title %}
  Choix des groupes - {{ parent() }}
{% endblock %}

{% block bodytitle %}
	<h3>Répartition des groupes - {{ app.user.textPromotion }}</h3>
	{% if deadline.active %}
		{{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
		<div class="form-group" >
			{{ form_label(form.repartitionGroup, null, {'label_attr': {'class': 'control-label'}}) }}
			{{ form_errors(form.repartitionGroup) }}
			{{ form_widget(form.repartitionGroup, {'attr': {'class': 'form-control'}}) }}
		</div>
		<button class="btn btn-success" type="submit" >Valider</button>
		{{ form_rest(form) }}
		{{ form_end(form) }}
		<div class="label label-primary">
			Répartition ouverte jusqu'au {{ deadline.date|date('d/m - H:i') }}
			<span class="glyphicon glyphicon-time" ></span>
		</div>
	{% else %}
		<div>Groupe {{ app.user.repartitionGroup }}</div>
	{% endif %}
{% endblock %}

{% block body %}
	<div class="row" >
		<div>
			{% for key, messages in app.session.flashbag.all() %}
				{% for message in messages %}
					<div class="alert alert-{{ key }}">
						{{ message }}
					</div>
				{% endfor %}
			{% endfor %}
		</div>

		<div class="col-md-6" >
			<div class="panel panel-default" >
				<div class="panel-heading" >
					<strong>Périodes pour le groupe A:</strong>
				</div>
				<div class="panel-body" >
					{% if app.user.promotion == 'DFASM1' %}
						Octobre-Novembre<br/>
						Février-Mars<br/>
						Juin-Juillet
					{% else %}
						Décembre-Janvier<br/>
						Avril-Mai<br/>
						Août-Septembre
					{% endif %}
				</div>
			</div>
		</div>
		<div class="col-md-6" >
			<div class="panel panel-default" >
				<div class="panel-heading" >
					<strong>Périodes pour le groupe B:</strong>
				</div>
				<div class="panel-body" >
					{% if app.user.promotion == 'DFASM1' %}
						Décembre-Janvier<br/>
						Avril-Mai<br/>
						Août-Septembre			
					{% else %}
						Octobre-Novembre<br/>
						Février-Mars<br/>
						Juin-Juillet
					{% endif %}
				</div>
			</div>	
		</div>
	</div>
	
	{% set expanded = false %}
	{% set admin = false %}
	{% include "LulhumRepartitionMedecineBundle:Repartition:groupes_content.html.twig" %}

{% endblock %}
