{# src/Lulhum/RepartitionMedecineBundle/Resources/views/Repartition/index.html.twig #}

{% extends "LulhumRepartitionMedecineBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body %}
	{% for key, messages in app.session.flashbag.all() %}
		{% for message in messages %}
			<div class="alert alert-{{ key }} alert-dismissible">
				{{ message }}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
		{% endfor %}
	{% endfor %}
	<h2>Bienvenue {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}{{ app.user.firstname }} {{ app.user.lastname }}{% endif %}</h2>
{% endblock %}
