{# src/Lulhum/RepartitionMedecineBundle/Resources/views/Repartition/stages.html.twig #}

{% extends "LulhumRepartitionMedecineBundle::layout.html.twig" %}

{% block title %}
  Choix des stages - {{ parent() }}
{% endblock %}

{% block bodytitle %}
	<ul class="nav nav-tabs">
		<li role="presentation" {% if type == 'proposals' %}class="active"{% endif %}>
			<a href="{{ path('lulhum_repartitionmedecine_stages_proposals') }}">Propositions</a>
		</li>
		<li role="presentation" {% if type == 'pending' %}class="active"{% endif %}>
			<a href="{{ path('lulhum_repartitionmedecine_stages_pending') }}">Mes Demandes</a>
		</li>
		<li role="presentation" {% if type == 'accepted' %}class="active"{% endif %}>
			<a href="{{ path('lulhum_repartitionmedecine_stages_accepted') }}">Stages Acceptés</a>
		</li>
		<li role="presentation" {% if type == 'history' %}class="active"{% endif %}>
			<a href="#">Historique</a>
		</li>
	</ul>
{% endblock %}

{% block body %}
	{% for key, messages in app.session.flashbag.all() %}
		{% for message in messages %}
			<div class="alert alert-{{ key }} alert-dismissible">
				{{ message }}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
		{% endfor %}
	{% endfor %}
	{% if proposals|length == 0 %}
		<div class="alert alert-info" role="alert" >
			{% if type == 'proposals' %}
				Aucune proposition disponible
			{% elseif type == 'pending' %}
				Aucune demande en cours
			{% elseif type == 'accepted' %}
				Aucun stage accepté
			{% endif %}
		</div>
	{% else %}
		{% for proposal in proposals %}
			<div class="panel panel-default" >
				<div class="panel-heading" >
					{{ proposal.name }}
					<button class="btn btn-default" role="button" data-toggle="collapse" href="#proposal-info-{{ proposal.id }}" aria-expanded="false" aria-controls="proposal-info-{{ proposal.id }}" >
						Détails <span class="glyphicon glyphicon-zoom-in" ></span>
					</button>
				</div>
				<div class="panel-body" >
					<div class="row" >
						<div class="col-md-2" >Période:</div>
						<div class="col-md-10" >{{ proposal.period.description }}</div>
					</div>
					<div class="row" >
						<div class="col-md-2" >Places:</div>
						<div class="col-md-10" >
							{% set taked = proposal.stages.count %}
							{% if proposal.hasRequirementType('maxPlaces') %}
								{% set max = proposal.getRequirementsByType('maxPlaces')[0].params %}
								<span class="label label-{% if taked > max %}danger{% elseif taked == max %}warning{% else %}success{% endif %}" >
									{{ taked  }}/{{ max }}
								</span>
							{% else %}
								<span class="label label-success" >{{ taked }}/&infin;</span>
							{% endif %}
						</div>
					</div>
					<div class=" collapse" id="proposal-info-{{ proposal.id }}" >
						{% if proposal.deadline is not null %}
							<div class="row" >
								<div class="col-md-2" >Fin des inscriptions:</div>
								<div class="col-md-10" >{{ proposal.deadline.date|date('d/m - H:i') }}</div>
							</div>
						{% endif %}
						<div class="row" >
							<div class="col-md-2" >Lieu:</div>
							<div class="col-md-10" >{{ proposal.category.location }}</div>
						</div>
						<div class="row" >
							<div class="col-md-2" >Catégories:</div>
							<div class="col-md-10" >
								{% for category in proposal.category.categories %}
									{{ category }}
									{% if not loop.last %},{% endif %}
								{% endfor %}
							</div>							
						</div>
						{% if proposal.description is not null %}
							<div class="row" >
								<div class="col-md-2" >Description:</div>						
							</div>
							<div class="well">{{ proposal.description }}</div>							
						{% endif %}
						{% if proposal.stages|length > 0 %}
							<div class="row" >
								<div class="col-md-2" >Utilisateurs inscrits:</div>						
							</div>
							<ul class="list-group" >
								{% for stage in proposal.sortedStages %}
									<li class="list-group-item" >
										{{ stage.user.fullname }}
									</li>
								{% endfor %}
							</ul>	
						{% endif %}
						
					</div>
				</div>
				<div class="panel-footer" >
					{% if type == 'proposals' %}
						<a href="{{ path('lulhum_repartitionmedecine_stages_suscribe', {'id': proposal.id}) }}" class="btn btn-primary" >
							S'inscrire au stage
						</a>
					{% elseif type == 'pending' and not proposal.locked() %}
						<a href="{{ path('lulhum_repartitionmedecine_stages_unsuscribe', {'id': proposal.id}) }}" class="btn btn-danger" >
							Annuler l'inscription
						</a>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	{% endif %}
{% endblock %}
