{# src/Lulhum/RepartitionMedecineBundle/Resources/views/Repartition/stagecalendar.html.twig #}

{% extends "LulhumRepartitionMedecineBundle::layout.html.twig" %}

{% block title %}
  Calendrier des stages - {{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<style>
	.popover {
		max-width: 100%;
		min-width: 500px;
	}
	</style>
{% endblock %}

{% block bodytitle %}
	<ul class="nav nav-tabs">
		<li role="presentation" class="active" >
			<a href="{{ path('lulhum_repartitionmedecine_stages_calendar') }}">Calendrier</a>
		</li>
		<li role="presentation" >
			<a href="{{ path('lulhum_repartitionmedecine_stages_proposals') }}">Propositions</a>
		</li>
		<li role="presentation" >
			<a href="{{ path('lulhum_repartitionmedecine_stages_pending') }}">Mes Demandes</a>
		</li>
		<li role="presentation" >
			<a href="{{ path('lulhum_repartitionmedecine_stages_accepted') }}">Stages Acceptés</a>
		</li>
	</ul>
	<div class="row" style="margin-top:10px" >
		<div class="col-md-4" >			
			{{ form_start(form) }}
			<div class="input-group" >
				{{ form_widget(form.search, {'attr': {'class': 'form-control', 'placeholder': 'Rechercher...'}}) }}
				<span class="input-group-btn" >
					<button class="btn btn-default" type="submit" >
						<span class="glyphicon glyphicon-search" ></span>
					</button>
				</span>
			</div>
			{{ form_rest(form) }}
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}

{% block nobody %}	
	
	<div class="panel-body" >
		{% for key, messages in app.session.flashbag.all() %}
			{% for message in messages %}
				<div class="alert alert-{{ key }} alert-dismissible">
					{{ message }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
			{% endfor %}
		{% endfor %}
		<div class="label label-success" >Inscription possible</div>
		<div class="label label-warning" >Inscription non-prioritaire ou tirage au sort</div>
		<div class="label label-info" >Stage demandé</div>
		<div class="label label-primary" >Stage accepté</div>
	</div>
	
	<table class="table table-condensed" style="table-layout: fixed">
		<tr>
			{% for month in 1..12 %}
				<th class="col-md-1">
					{{ date('2000-'~((month + 8) % 12 + 1)~'-01')|localizeddate('none', 'none', 'fr', null, 'MMMM')|capitalize }}
					<br />
					<div class="label label-primary col-md-12" >
						Inscrits:
						{{ calendar.monthRequests(month-1) }}
					</div>
					<br />
					<div class="label label-primary col-md-12" >
						Places:
						{% set places = calendar.monthPlaces(month-1) %}
						{% if places > 1000000 %}
							&infin;
						{% else %}
							{{ places }}
						{% endif %}
					</div>
				</th>
			{% endfor %}
		</tr>
		{% for category in calendar.categoriesId %}
			<tr>
				{% for month in 0..11 %}
					{% set response = calendar.month(category, month) %}
					{% if response is not null %}
						<td colspan="{{ response.colspan }}" >
							{% if response.val is not null %}
								{% set p = calendar.proposal(response.val) %}
								{% if p.hasUser(app.user) %}
									{% if p.stagesByUser(app.user).first.locked %}
										{% set color = 'primary' %}
									{% else %}
										{% set color = 'info' %}
									{% endif %}
								{% elseif not p.locked and p.isValidForUser(app.user, validator) %}
									{% set color = p.validity(app.user, validator) %}
								{% else %}
									{% set color = 'default' %}
								{% endif %}
								<button class="btn btn-{{ color }} btn-xs col-md-12"
									type="button"
									data-toggle="popover"
									data-placement="top"
									data-html="true"
									data-container="body"
									data-title="{{ p }}"
									data-proposal="{{ p.id }}"
									data-showed="false"
									style="overflow:hidden;text-overflow:ellipsis;" >
									{{ p.category }}
									{% set taked = p.stages.count %}
									{% if p.hasRequirementType('maxPlaces') %}
										{% set max = p.getRequirementsByType('maxPlaces').first.params %}
										{% if taked > max %}
											{% set labelMode = 'danger' %}
										{% elseif taked == max %}
											{% set labelMode = 'warning' %}
										{% else %}
											{% set labelMode = 'success' %}
										{% endif %}
										<span class="label label-{{ labelMode }}" style="display:inline-block;position:absolute;right:0" >
											{{ taked  }}/{{ max }}
										</span>
									{% else %}
										<span class="label label-success" style="display:inline-block;position:absolute;right:0">
											{{ taked }}/&infin;
										</span>
									{% endif %}
								</button>
							{% endif %}
						</td>
					{% endif %}
				{% endfor %}
			</tr>
		{% endfor %}
		<tr>
			{% for month in 1..12 %}
				<th class="col-md-1">{{ date('2000-'~((month + 8) % 12 + 1)~'-01')|localizeddate('none', 'none', 'fr', null, 'MMMM')|capitalize }}</th>
			{% endfor %}
		</tr>
	</table>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
	$(document).ready(function() {
		$('[data-toggle="popover"]').popover();
		$('[data-toggle="popover"]').on('show.bs.popover', function() {
			$('[data-toggle="popover"]').not(this).popover('hide');
			var $button = $( this );			
			if($button.attr('data-showed') === 'false') {
				$button.attr('data-showed', 'true');
				$button.attr('data-content', 'Chargement...');
				$.ajax({
					type: "POST",
					url: '{{ path('lulhum_repartitionmedecine_stages_proposal_info_noid') }}'+$button.attr('data-proposal'),
					cache: false,
					success: function(data) {
						$button.attr('data-content', data);
						$button.popover('show');
						$button.attr('data-showed', 'false');
					}
				});
			}
		});
	});
	</script>
{% endblock %}
