{# src/Lulhum/RepartitionMedecineBundle/Resources/views/Admin/page.html.twig #}
{% extends "LulhumRepartitionMedecineBundle::adminlayout.html.twig" %}
{% block title %}
	{% if new %}Nouvelle page{% else %}Éditer la page{% endif %} - {{ parent() }}
{% endblock %}

{% block bodytitle %}
	<h3>{% if new %}Nouvelle page{% else %}Éditer la page{% endif %}</h3>				
{% endblock %}

{% block body %}
	{{ form_start(form) }}	
	<div class="form-group" >
		{{ form_label(form.title) }}
		{{ form_errors(form.title) }}
		{{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group" >
		{{ form_label(form.visibility) }}
		{{ form_errors(form.visibility) }}
		{{ form_widget(form.visibility, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group" >
		{{ form_label(form.menu) }}
		{{ form_errors(form.menu) }}
		{{ form_widget(form.menu, {'attr': {'class': 'form-control'}}) }}
	</div>
	{% set showSpecialBlocks = true %}
	{% include "LulhumCMSBundle:Admin:wisihtml_toolbar.html.twig" %}
	<div class="form-group" >
		{{ form_label(form.content) }}
		{{ form_errors(form.content) }}
		{{ form_widget(form.content, {'attr': {'placeholder': 'Votre texte ici...', 'class': 'form-control vresize', 'style': 'height:260px'}}) }}
	</div>
	<button type="submit" class="btn btn-primary" >Valider</button>
	{{ form_end(form) }}
	{{ form_start(form) }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('vendor/wysihtml/dist/wysihtml5x-toolbar.min.js') }}" ></script>
	<script type="text/javascript" src="{{ asset('vendor/wysihtml/parser_rules/advanced_and_extended.js') }}" ></script>
	<script type="text/javascript" >
	$(document).ready(function() {	
		var editor = new wysihtml5.Editor('lulhum_cms_page_content', {
			toolbar: 'toolbar',
			parserRules:  wysihtml5ParserRules
		});
	});
	</script>
{% endblock %}
