{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
	<div class="form-group row" >
		{{ form_label(form.current_password, null, {'label_attr': {'class': 'control-label col-md-3'}}) }}
		{{ form_errors(form.current_password) }}
		<div class="col-md-9" >
			{{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>
	{% for passwordField in form.plainPassword %}
		<div class="form-group row" >
			{{ form_label(passwordField, null, {'label_attr': {'class': 'control-label col-md-3'}}) }}
			{{ form_errors(passwordField) }}
			<div class="col-md-9" >
				{{ form_widget(passwordField, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
	{% endfor %}
    <button class="btn btn-success" type="submit" >Modifier le mot de passe</button>
    {{ form_rest(form) }}
</form>
