{# src/Lulhum/RepartitionMedecineBundle/Resources/views/Admin/mail.html.twig #}

{% extends "LulhumRepartitionMedecineBundle::adminlayout.html.twig" %}

{% block title %}
Mails groupés - {{ parent() }}
{% endblock %}

{% block bodytitle %}
	<h3>Envoi de mails groupés</h3>
{% endblock %}

{% block body %}
	{% for key, messages in app.session.flashbag.all() %}
		{% for message in messages %}
			<div class="alert alert-{{ key }} alert-dismissible">
				{{ message }}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
		{% endfor %}
	{% endfor %}
	{{ form_start(form) }}
	<div class="form-group" >
		{{ form_label(form.promotions) }}
		{{ form_errors(form.promotions) }}
		{{ form_widget(form.promotions, {'attr': {'class': 'form-control', 'size': '2'}}) }}
	</div>
	<div class="form-group" >
		{{ form_label(form.group) }}
		{{ form_errors(form.group) }}
		{{ form_widget(form.group, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group" >
		{{ form_label(form.title) }}
		{{ form_errors(form.title) }}
		{{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
	</div>
	{% include "LulhumCMSBundle:Admin:wisihtml_toolbar.html.twig" %}
	<div class="form-group" >
		{{ form_label(form.content) }}
		{{ form_errors(form.content) }}
		{{ form_widget(form.content, {'attr': {'placeholder': 'Votre texte ici...', 'class': 'form-control vresize', 'style': 'height:260px'}}) }}
	</div>
	<button type="submit" class="btn btn-primary" >Envoyer</button>
	{{ form_rest(form) }}
	{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts '@wysihtml' %}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	<script type="text/javascript" >
	$(document).ready(function() {	
		var editor = new wysihtml5.Editor('lulhum_user_groupmail_content', {
			toolbar: 'toolbar',
			parserRules:  wysihtml5ParserRules
		});
	});
	</script>
{% endblock %}
