{# src/Lulhum/RepartitionMedecineBundle/Resources/views/Admin/listusers.html.twig #}

{% extends "LulhumRepartitionMedecineBundle:Admin:groupactionlist.html.twig" %}

{% block title %}
  Utilisateurs - {{ parent() }}
{% endblock %}

{% block bodytitle %}
	<h3>Liste des utilisateurs</h3>
	<hr/>
	{{ form_start(filterForm, {'attr': {'class': 'form-inline'}}) }}
	{{ form_errors(filterForm) }}
	<div class="form-group" >
		{{ form_label(filterForm.promotions, null, {'label_attr': {'class': 'control-label'}}) }}
		<br/>
		{{ form_errors(filterForm.promotions) }}
		{{ form_widget(filterForm.promotions, {'attr': {'class': 'form-control', 'multiple': 'true', 'size': '2'}}) }}
	</div>
	<div class="form-group" >
		{{ form_label(filterForm.group, null, {'label_attr': {'class': 'control-label'}}) }}
		<br/>
		{{ form_errors(filterForm.group) }}
		{{ form_widget(filterForm.group, {'attr': {'class': 'form-control', 'size': '2'}}) }}
	</div>
	<div class="form-group" >
		{{ form_label(filterForm.periods, null, {'label_attr': {'class': 'control-label'}}) }}
		<br/>
		{{ form_errors(filterForm.periods) }}
		{{ form_widget(filterForm.periods, {'attr': {'class': 'form-control', 'multiple': 'true', 'size': '2'}}) }}
	</div>
	<div class="form-group" >
		{{ form_label(filterForm.categories, null, {'label_attr': {'class': 'control-label'}}) }}
		<br/>
		{{ form_errors(filterForm.categories) }}
		{{ form_widget(filterForm.categories, {'attr': {'class': 'form-control', 'multiple': 'true', 'size': '2'}}) }}
	</div>
	<br/>
	<div style="margin-top:10px" >
		<div class="form-group" >
			{{ form_widget(filterForm.filtrer, {'attr': {'class': 'btn btn-primary' }}) }}
		</div>
		<div class="form-group" >
			<a class="btn btn-primary" href="{{ path('lulhum_user_admin_userlist_resetfilter') }}" >Filtre par défaut</a>
		</div>
		<div class="form-group" >
			<a class="btn btn-success" href="{{ path('lulhum_user_admin_user_add') }}" >Nouvel Utilisateur</a>
		</div>
	</div>
	{{ form_rest(filterForm) }}
	{{ form_end(filterForm) }}
{% endblock %}

{% block groupactionlisthead %}
	<th>Nom</th>
	<th>Prénom</th>
	<th>Promotion</th>
	<th>Groupe</th>
	{% for period in filter.periods %}
		<th>{{ period }}</th>
	{% endfor %}
	{% for category in filter.categories %}
		<th>{{ category }}</th>
	{% endfor %}
	<th>Actions</th>
{% endblock %}

{% block groupactionlistbody %}
	{% set u = userList[loop.index0] %}
	<td><a href="{{ path('lulhum_user_admin_user', {'id': u.id}) }}">{{ u.lastname }}</a></td>
	<td>{{ u.firstname }}</td>
	<td>{{ u.textPromotion }}</td>
	<td>{{ u.repartitionGroup }}</td>

	{% for period in filter.periods %}
		<td>
			{% if u.hasStageInPeriod(period) and u.getStageInPeriod(period).locked %}
				<span class="label label-success" >Oui</span>
			{% else %}
				<span class="label label-danger" >Non</span>
			{% endif %}
		</td>
	{% endfor %}
	{% for category in filter.categories %}
		<td>
			{% if u.countStagesInCategory(category.id, true) %}
				<span class="label label-success" >Oui</span>
			{% else %}
				<span class="label label-danger" >Non</span>
			{% endif %}
		</td>
	{% endfor %}

	<td>					
		<a href="{{ path('lulhum_user_admin_user_edit', {'id': u.id}) }}" >
			<span class="glyphicon glyphicon-edit" ></span>
		</a>
		{% if u.hasRole('ROLE_ADMIN') %}
			<a href="{{ path('lulhum_user_admin_user_switchadmin', {'id': u.id}) }}" class="text-success" >
				<span class="glyphicon glyphicon-eye-open" ></span>
			</a>
		{% else %}
			<a href="{{ path('lulhum_user_admin_user_switchadmin', {'id': u.id}) }}" class="text-danger" >
				<span class="glyphicon glyphicon-eye-close" ></span>
			</a>
		{% endif %}
		<a href="{{ path('lulhum_user_admin_user_delete', {'id': u.id}) }}" class="text-danger" >
			<span class="glyphicon glyphicon-remove" ></span>
		</a>
	</td>
{% endblock %}

{% block bodyunder %}
	<div>
		<span class="text-success" >
			<span class="glyphicon glyphicon-eye-open" ></span>
		</span>
		Administrateur -
		<span class="text-primary" >
			<span class="glyphicon glyphicon-edit" ></span>
		</span>
		Éditer l'utilisateur -
		<span class="text-danger" >
			<span class="glyphicon glyphicon-remove" ></span>
		</span>
		Supprimer l'utilisateur
	</div>
{% endblock %}
