{# src/Lulhum/CMSBundle/Resources/views/page.html.twig #}

{% extends "LulhumRepartitionMedecineBundle::layout.html.twig" %}

{% block title %}
	{{ page.title }} - {{ parent() }}
{% endblock %}

{% block bodytitle %}
	{{ page.title }}
{% endblock %}

{% block body %}
	{% for key, messages in app.session.flashbag.all() %}
		{% for message in messages %}
			<div class="alert alert-{{ key }} alert-dismissible">
				{{ message }}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
		{% endfor %}
	{% endfor %}
	{{ page.contentSpecialBlocks|purify }}	
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" >
	$(document).ready(function() {
		var $fbPlugins = $('div.fb-root');
		if($fbPlugins.length == 0) return;
		var prototype = '<div class="fb-page" data-href="https://www.facebook.com/__fblink__" data-tabs="timeline" data-width="500px" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/__fblink__"><a href="https://www.facebook.com/__fblink__">Facebook</a></blockquote></div></div>';
		$fbPlugins.first().attr('id', 'fb-root');
		$fbPlugins.each(function () {
			var $pluginAnchor = $(this);
			var link = $pluginAnchor.html();
			$pluginAnchor.html('');
			var $plugin = $(prototype.replace(/__fblink__/g, link));
			$pluginAnchor.after($plugin);
		});		
		
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
			fjs.parentNode.insertBefore(js, fjs);
		} (document, 'script', 'facebook-jssdk'));
	});	
	</script>
{% endblock %}
