{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
	<p>Nom: {{ user.fullname }}</p>
	<p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
	<p>Numéro étudiant: {{ user.studentId }}</p>
	<p>Numéro de portable: {{ user.phone }}</p>
	<p>Promotion pour l'année {{ lulhum_toolbox.getCurrentSchoolYear() }}: {{ user.promotion }}</p>
	<p>Présence pendant la période de répartion: {{ user.present }}</p>
	<p>Accès internet pendant la période de répartition: {{ user.internetAccess }}</p>
	<p>
		Personne de confiance ayant procuration en cas d'absence:
		{% if user.proxy is null %}
			Non Renseigné
		{% else %}
			{{ user.proxy.fullname }}
		{% endif %}
	</p>
	<p><a href="{{ path('fos_user_profile_edit') }}">Modifier mon profil</a></p>
	<p><a href="{{ path('fos_user_change_password') }}">Modifier mon mot de passe</a></p>
</div>
